author {
    display: none;
}
body {
    font-family: "Comic Sans Ms", "Times New Roman", "Arial", serif;
    font-size: 20px;
    color: orangered;
    text-shadow: 0px 0px 4px mediumblue;
    background-color: ghostwhite;
    
}
#calculator {
    height: 800px;
    width: 500px;
    
    background-color: gray;
    box-shadow: -12px -11px 20px 10px rgba(20,0,20,1);
    position: relative;
    top: 20%;
    left: 35%;
    font-family: inherit;
    
    border-style: solid;
    border-radius: 30px;
    margin-top: 2%;
}
#display {
    background-color: rgb(25, 212, 66);
    color: ghostwhite;
    height: 150px;
    width: 450px;
    
    border-width: 3px;
    margin-top: 100px;
    margin-bottom: 75px;
    margin-left: 25px;
    border-radius: 15px;
}
#inputZone, #answerZone {
    width: 430px;
    height: 55px;
    padding: 10px 10px;
    transition: 0.666s;
}

#secondOperand {
    transition: 0.666s;
}


button {
    height: 90px;
    width: 115px;
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.696);
    color: ghostwhite;
    font-size: 35px;
    
    position: relative;
    left: 2.2%;
    border-radius: 50%;
    
}                    
#equals {
    width: 236px;
    border-radius: 60px;
} /=的寬度

button:focus {
    outline: none;
}